comtypes>=1.1.11
fastapi>=0.134.0
httpx>=0.28.1
musicdl>=1.4.6
mutagen>=1.47.0
openai>=2.24.0
opencv_python>=4.13.0.92
packaging>=23.2
Pillow>=10.2.0
playwright>=1.50.0
pydantic>=2.12.5
pydantic_settings>=2.13.1
pygame>=2.5.2
pyncm>=1.7.5
pycaw>=20181226
PyQt5>=5.15.10
pywin32>=306
qrcode>=7.4.2
requests>=2.31.0
sounddevice>=0.4.6
sse_starlette>=3.3.2
uvicorn>=0.41.0
vosk>=0.3.45
